extends base.pug

block scripts
   script(src='/index.js')

block style 
     style
      include ../static/style.css 
 
block content 
   div.about
     h2 About Us
     p   
         The The year was 1978 and Madaha Kinsey-Lamb, a former public school teacher, educator, and arts enthusiast who had    once dreamed of starting her own school, found herself traveling with her 4-year old daughter on the #2  train to   dance classes in Manhattan, because they were not available in their Bronx neighborhood.  Madaha was inspired by the rich arts environment she found, and excited by ideas of what it could mean if her culture and others could be included and affirmed as well - to create a place in the Bronx where children could explore and expand their sense of self and of a diverse community through dance, music, theater and more.