html
  head
    title Shiti Dance Academy
    block scripts
    block style 
     
  body
     nav#navbar
        ul 
          div#logo
               img(src="/static/logo.jpg")
          
          li  #[a(href="/") Home]
          li  #[a(href="/about") About]
          li  #[a(href="/services") Services]
          li  #[a(href="/contact") Contact]

     block content
     block foot
      #footer
        | Copyright© 2020 shitidanceacademy.com | All Rights Reserved