extends base.pug

block scripts
   script(src='/index.js')

block style 
     style
      include ../static/style.css 
 
block content 
     div.services
        h2 Services 
        p   The Dance Department offers high quality instruction in a variety of movement styles and techniques both for students ages 3.5 to adult who want to explore dance for personal enjoyment, and those who want to prepare for a career in dance. Enrollment in group dance classes averages 15 - 18 students in order to promote more individual attention and sustained progress. Private classes are also available, where possible, by request. Classes are 60 minutes in duration, or 90 minutes for “combo” classes.